# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp

csv_exports/

temp_images/
temp_videos/

truncate_tables.py

temp.py